$lightGreen: #7db928;
$blue: #006996;

$yellow: #fdb913;
$green: #00ab4e;
$lightBlue: #006db6;
$fuchsia: #a3238e;
$gray: #6d6e71;
$orange: #f58220;
$purple: #6e368c;
$red: #e7343f;
$teal: #00777a;
$skyBlue: #00a1e6;
