@import '../assets/colors.scss';

@font-face {
    font-family: AlarmClock;
    src: url('../assets/fonts/Alarm-Clock.ttf');
}

.countdown {
    font: {
        family: AlarmClock;
        size: 1.4rem;
    }
    background-color: rgba($gray, .6);
    padding: .5em 1em;
    border-radius: 4px 0 0 0;
    text: {
        align: center;
        shadow: 1px 2px 0 rgba(black, .5);
    }
    color: white;

    @media (max-width: 640px) {
        font-size: 1rem;
    }
}
