@import '../assets/colors.scss';

.header {
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 13rem;
    background-color: rgba(white, .85);
    padding: .3rem .5rem;
    border-radius: 4px;

    & > .top {
        position: relative;
        width: calc(83.149606299px * 2);
        height: calc(56.692913386px * 2);

        & > .logo {
            position: absolute;
            left: 13%;
        }
    }
    & > .actions {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > button {
            border: 0;
            border-radius: 4px;
            padding: .25rem 1rem;
            cursor: pointer;
            width: 48.5%;
            background-color: $blue;
            color: white;
            font: {
                size: .75em;
                weight: bold;
            }
            letter-spacing: .02em;
            transition:
                .4s background-color ease-in-out,
                .2 transform ease-in-out;
            text-shadow: 1px 1px 0 rgba(black, .34);
            outline: none;

            &:hover {
                background-color: $lightBlue;
            }
            &:active {
                transform: scale3d(.9, .9, .9);
            }
        }
    }
}
