
.player {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;

    & > video {
        width: 640px;
        height: 480px;
        cursor: pointer;

        @media (max-width: 640px) {
            padding: 0;
            width: 300px;
        }
    }
}
